* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.smaller{
    font-size: 0.9rem;
}

.sony_logo{
    height: 5vh;
    width: 100px;
}

.bg_returnal{
    background-image: url("/img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    height: 70vh;
}

.returnal_logo{
    width: 100%;
}

.access{
    background-color: black;
    border: 2px solid black;
}

.buy{
    background-color: red;
    border: 2px solid red;
}

.custom-button{
    width: fit-content;
    padding: 2px;
}

.custom-button:hover{
    background-color: transparent;
    cursor: pointer;
}

.smaller-button2{
    background-color: red;
    width: 120px;
    text-align: center;
    padding: 5px;
}

.smaller-button1{
    background-color: black;
    text-align: center;
    padding: 5px;
    width: 70px;
}

.play-menu-drop{
    color: grey;
    text-decoration: none;
    position: relative;
    top: 8px;
    font-size: 0.85rem;
}

.play-menu-drop:hover{
    color: rgb(59, 59, 59);
}

.play-icon{
    width: 100px;
}

.text-grey{
    color: grey;
}

.shadow-hover:hover{
    box-shadow: 0px 5px 10px grey;
    cursor: pointer;
}

.play-link{
    color: grey;
    text-decoration: none;
}

.card-active{
    border: 2px solid #0d6efd;
}

.game-card{
    width: 100%;
    border-radius: 20px;
    padding: 3px;
    margin-bottom: 20px;
    transition: all;
}

.game-card:hover{
    border: 2px solid #0d6efd;
    position: relative;
    bottom: 10px;
    cursor: pointer;
}

.blue{
    color: #0d6efd;
}

.play5{
    width: 100%;
}

.card-item-img{
    width: 90%;
}

.console-card{
    opacity: 0.6;
}

.console-card-exc{
    border-bottom: 2px solid #0d6efd;
    cursor: pointer;
}

.console-card:hover{
    opacity: 1;
    border-bottom: 2px solid #0d6efd;
    cursor: pointer;
}

.bg_takes_two{
    background-image: url("/img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
    height: 70vh;
}

@media screen and (max-width: 767px) {
    .item-name{
        display: none;
    }
    
}

