* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.smaller{
    font-size: 0.9rem;
}

.sony_logo{
    height: 5vh;
    width: 100px;
}

.bg_returnal{
    background-image: url("/img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    height: 85vh;
}

.returnal_logo{
    width: 100%;
}

.buy{
    display: block;
}

